<section class="navigation-section">
    <div class="container">
        <div class="logo-wrapper">
            <img src="/Munchy/view/assets/image/logo_icon.png" alt="" class="logo-icon">
            <p class="logo_text">Munchy</p>
        </div>
        <div class="menu_list_wrapper">
            <ul class="menu_list">
                <li class="list">About</li>
                <li class="list">How it work</li>
                <li class="list">Pricing</li>
                <li class="list">Features</li>
            </ul>
        </div>
        <div class="navigation_Cta_wrapper">
            <a href="/Munchy/login" class="navigation_login">Login</a>
            <a href="/Munchy/register" class="navigation_register">Register</a>
        </div>
    </div>
</section>