<section class="navigation-section">
    <div class="container">
        <div class="logo-wrapper">
            <img src="/Munchy/view/assets/image/logo_icon.png" alt="" class="logo-icon">
            <h2 class=" logo_text">Munchy</h2>
        </div>
    </div>
</section>