<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% for styles in stylesheet %}
        <link rel="stylesheet" href="{{ styles }}">
    {% endfor %}
    <title>Welcome To Munchy</title>
</head>
<body>
    <header>
        {% block navigation %}
            {% include '_navigation.html' %}
        {% endblock %}
        <section class="hero-section">
            <div class="container">
                <div class="hero-text-wrapper">
                    <h1>Minimize your tabs. Find the trends!</h1>
                    <p>
                        Don’t let your computer memories consumes all of those browser tabs. 
                        Findtrend  let you gathers all of your favorite website into one place.
                    </p>
                    <button class="hero-cta">
                        Get Started 🔥
                    </button>
                </div>
            </div>
        </section>
    </header>
    <main>
        <section class="video-promo-section">
            <div class="container">
                <div class="play-button">
                    <img src="{{ video_play_button_image }}" alt="" class="">
                </div>
                <img src="{{ video_thumbnail_image }}" alt="" class="">
            </div>
        </section>
        <section class="text-promo-section">
            <div class="container">
                <h2 class="text-promo-section-title">
                    Findtrend helps you to increase your productivity and reduce your computer's 
                    memory load, <span class="grey-color">an application that can fulfill your daily browsing needs.</span>
                </h2>
            </div>
        </section>
        <section class="recieve-payments-section">
            <div class="container">
                <img src="{{ receive_payment_image }}" alt="" class="">
                <div class="recieve-payment-text">
                    <p class="">Our Feature</p>
                    <h2 class="">
                        Receive payments quickly from anywhere
                    </h2>
                    <p class="">
                        Why kept very ever home mrs. Considered sympathize ten uncommonly occasional assistance sufficient not. 
                        Letter of on become he tended active enable to. 
                    </p>
                    <button class="recieve-payment-cta">
                        <a href="">Get Started</a>
                    </button>
                </div>
            </div>
        </section>
        <section class="newsletter-section">
            <div class="container">
                <div class="newsletter-text">
                    <p class="">Our Feature</p>
                    <h2 class="">
                        Receive payments quickly from anywhere
                    </h2>
                    <p class="">
                        Why kept very ever home mrs. Considered sympathize ten uncommonly occasional assistance sufficient not. 
                        Letter of on become he tended active enable to. 
                    </p>
                </div>
                <form class="newsletter-form">
                    <h3 class="">Get Started for Free</h3>
                    <input type="text" class="" placeholder="Full Name"> <br />
                    <input type="text" class="" placeholder="Email Address"> <br />
                    <button class="">join newsletter</button>
                </form>
            </div>
        </section>
    </main>
    {% block footer %}
        {% include '_footer.html' %}
    {% endblock %}
</body>
</html>