<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% for styles in stylesheet %}
        <link rel="stylesheet" href="{{ styles }}">
    {% endfor %}
    <title>Welcome To Munchy</title>
</head>
<body>
    <header>
        {% block navigation %}
            {% include '_navigation.html.twig' %}
        {% endblock %}
        <section class="hero-section">
            <div class="container">
                <div class="hero-text-wrapper">
                    <h1>Minimize your tabs. Find the trends!</h1>
                    <p>
                        Don’t let your computer memories consumes all of those browser tabs. 
                        Findtrend  let you gathers all of your favorite website into one place.
                    </p>
                    <button class="hero-cta">
                        Get Started 🔥
                    </button>
                </div>
            </div>
        </section>

        <section class="video-promo-section">
            <video>
        </section>
    </header>
</body>
</html>