<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ stylesheet }}">
    <title>Welcome to Munchy</title>
</head>
<body>
    <div class="container">
        <main class="main">
            <section class="loginSection">
                    <div class="wrapper">
                        <div class="logoWrapper">
                            <h1 class="logoText">Munchy</h1>
                        </div>
                        <div class="errors" id="errors">
                            <p class="errorLog" id="errorLog"></p>
                        </div>
                        <form action="" method="POST" class="loginInputWrapper">
                            <div class="emailInputWrapper">
                                <label class="emailInputLabel" for="emailInput">Email</label> <br />
                                <input type="text" class="emailInput" name="emailInput" id="emailInput" placeholder="Enter email">
                            </div>
                            <div class="passwordInputWrapper">
                                <label class="passwordInputLabel" for="passwordInput">Password</label> <br />
                                <input type="password" class="passwordInput" name="passwordInput" id="passwordInput" placeholder="Enter password">
                            </div>
                            <div class="submitInputWrapper">
                                <input type="submit" class="loginSubmitButton" name="loginSubmitButton" id="loginSubmitButton" value="Sign In">
                            </div>
                        </form>
                </div>
            </section>
        </main>
    </div>
    {% for scriptModule in javascriptModule %}
        <script type="module" src="{{ scriptModule }}"></script>
    {% endfor %}
    {% for script in javascript %}
        <script src="{{ script }}"></script>
    {% endfor %}
</body>
</html>