/*https://chir.ag/projects/name-that-color/*/
$white: #ffffff;
$silver: #CCCCCC;
$grey: #8B8B8B;
$alto: #D9D9D9;
$cornflower-blue:#7A5CFA;
$dove-gray: #666666;
$governor-bay:#3734A9;
$cod-gray: #1E1E1E;
$silver-chalice: #ADADAD;
$wild-sand: #F4F4F4;
$cod-gray: #191919;