@use'colors';
@use'fonts';

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Styling starts here*/
*{
	box-sizing: border-box;
}
*:focus {
    outline: 0 !important;
}
body {
	background-color: colors.$cod-gray;
}
.navigation-section {
    .container {
        width: 90%;
        max-width: 1280px;
        // border: 1px red solid;
		margin: auto;
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		padding: 40px 0;
        .logo-wrapper {
            display: flex;
            align-items: center;
			cursor: pointer;
			.logo_text {
				font-size: 24px;
				font-weight: 700;
				text-transform: uppercase;
				margin-left: 10.32px;
				font-family: fonts.$inter-font-family;
				color: colors.$white;
			}
        }
		.menu_list_wrapper {
			.menu_list {
				display: flex;
				align-items: center;
				column-gap: 40px;
				li {
					cursor: pointer;
				}
			}
		}
		.menu_list_wrapper, .navigation_Cta_wrapper {
			font-family: fonts.$effra-light-font-family;
			color: colors.$white;
			font-weight: 700;
			font-size: fonts.$font-size-18;
			line-height: 100%;
		}
		.navigation_Cta_wrapper {
			column-gap: 40px;
			display: flex;
			align-items: center;
			a {
				cursor: pointer;
				color: colors.$white;
				display: block;
				text-decoration: none;
			}
			.navigation_register {
				padding: 12px 32px;
				color: colors.$cod-gray;
				background-color: colors.$white;
				border-radius: 40px;
			}
		}
    }
}

.hero-section {
	.container {
        width: 90%;
        max-width: 1280px;
		margin: auto;
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		.hero-text-wrapper {
			color: colors.$white;
			max-width: 700px;
			margin: auto;
			margin-top: 132px;
			h1 {
				text-align: center;
				font-size: fonts.$font-size-72;
				font-weight: 700;
				font-family: fonts.$effra-heavy-font-family;
				line-height: 112%;
			}
			p {
				font-family: fonts.$effra-light-font-family;
				font-weight: 600;
				line-height: 150%;
				font-size: fonts.$font-size-18;
				text-align: center;
				margin-top: 24px;
				color: colors.$grey;
			}
			.hero-cta {
				display: block;
				margin: auto;
				margin-top: 40px;
				padding: 16px 32px;
				cursor: pointer;
				border-radius: 40px;
				background-color: colors.$governor-bay;
				border: 1px colors.$governor-bay;
				line-height: 140%;
				font-size: fonts.$font-size-18;
				font-family: fonts.$effra-light-font-family;
				font-weight: 700;
				color: colors.$white;
			}
		}
	}
}

.video-promo-section {
	margin-top: 159px;
	.container {
		margin: auto;
		width: 90%;
        max-width: 1280px;
		position: relative;

		.play-button {
			width: 100px;
			height: 100px;
			border-radius: 100%;
			border: 1px colors.$cod-gray solid;
			box-sizing: border-box;
			position: absolute;
			z-index: 53;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: colors.$cod-gray;
			cursor: pointer;
			img {
				width: 20%;
				height: auto;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		img {
			width: 100%;
			height: auto;
			position: relative;
		}
	}
}
.text-promo-section {
	margin-top: 89px; 
	.container {
		margin: auto;
		width: 90%;
        max-width: 1160px;
		position: relative;
		.text-promo-section-title {
			font-family: fonts.$effra-heavy-font-family;
			font-size: fonts.$font-size-64;
			color: colors.$white;
			font-weight: 700;
			line-height: 112%;
			.grey-color {
				color: colors.$silver-chalice;
			}
		}
	}
	
}
.recieve-payments-section {
	padding-top: 120px;
	padding-bottom: 65px;
	background: url('/Munchy/view/assets/image/Union.png');
	.container {
		margin: auto;
		width: 90%;
        max-width: 1280px;
		display: flex;
		align-items: center;
		font-family: fonts.$manrope-font-family;
		column-gap: 47px;
		img{
			max-width: 620px;
			width: 100%;
			height: auto;
		}
		.recieve-payment-text {
		}
		p:first-child {
			color: colors.$white;
			font-size: fonts.$font-size-18;
			color: colors.$governor-bay;
			font-weight: 900;
			margin: 0;
		}
		h2 {
			color: colors.$white;
			font-size: fonts.$font-size-56;
			font-weight: 700;
			margin-top: 25px;
			font-family: fonts.$effra-heavy-font-family;
		}
		p {
			color: colors.$wild-sand;
			margin-top: 36px;
			max-width: 512px;
			line-height: 26px;
			letter-spacing: -0.02em;
		}
		.recieve-payment-cta {
			margin-top: 27px;
			background-color: colors.$governor-bay;
			font-weight: 700;
			font-family: fonts.$manrope-font-family;
			font-size: fonts.$font-size-18;
			border: 1px colors.$governor-bay solid;
			border-radius: 7px;
			box-shadow: 0px 67px 80px rgba(55, 52, 169, 0.07), 0px 43.4259px 46.8519px rgba(55, 52, 169, 0.0531481), 0px 25.8074px 25.4815px rgba(55, 52, 169, 0.0425185), 0px 13.4px 13px rgba(55, 52, 169, 0.035), 0px 5.45926px 6.51852px rgba(55, 52, 169, 0.0274815), 0px 1.24074px 3.14815px rgba(55, 52, 169, 0.0168519);
		}
		.recieve-payment-cta a {
			color: colors.$white;
			text-decoration: none;
			padding: 15px 35px;
			display: block;
		}
	}
}
.newsletter-section {
	padding-top: 50px;
	.container {
		max-width: 1170px;
		width: 100%;
		// border: 1px red solid;
		margin: auto;
		display: flex;
		align-items: center;
		column-gap: 57px;
		padding: 75px 110px 71px 68px;
		box-sizing: border-box;
		background-color: rgb(217,217,217,3%);
		border: 1px rgb(217,217,217,3%) solid;
		border-radius: 20px;
		.newsletter-text  {
			max-width: 579px;
			font-family: fonts.$effra-heavy-font-family;
			p:first-child {
				color: colors.$governor-bay;
				font-size: fonts.$font-size-18;
				font-weight: 900;
				font-family: fonts.$manrope-font-family;
			}
			p:not(:first-child) {
				margin-top: 56px;
				color: colors.$wild-sand;
				line-height: 26px;
				letter-spacing: -2%;
				font-size: fonts.$font-size-18;
			}
			p {
				font-family: fonts.$manrope-font-family;
			}
			h2 {
				font-size: fonts.$font-size-50;
				color: colors.$white;
				font-weight: 700;
				line-height: 56px;
				letter-spacing: -3%;
				margin-top: 25px;
			}
		}
		.newsletter-form {
			font-family: fonts.$manrope-font-family;
			width: 100%;
			max-width: 356px;
			h3 {
				font-weight: 700;
				font-size: 24px;
				letter-spacing: -2%;
				line-height: 30px;
				color: colors.$governor-bay;

			}
			input {
				background: colors.$alto;
				border: 1px colors.$alto solid;
				border-radius: 5px;
				padding: 18px 21px;
				width: 100%;
				margin-top: 22px;
				font-family: fonts.$manrope-font-family;
			}
			button {
				background-color: colors.$governor-bay;
				border: 1px colors.$governor-bay solid;
				border-radius: 5px;
				padding: 18px 21px;
				display: block;
				width: 100%;
				margin-top: 22px;
				font-family: fonts.$manrope-font-family;
				text-transform: uppercase;
				color: colors.$white;
				font-weight: 700;
				cursor: pointer;
				box-shadow: 0px 67px 80px rgba(55, 52, 169, 0.07), 0px 43.4259px 46.8519px rgba(55, 52, 169, 0.0531481), 0px 25.8074px 25.4815px rgba(55, 52, 169, 0.0425185), 0px 13.4px 13px rgba(55, 52, 169, 0.035), 0px 5.45926px 6.51852px rgba(55, 52, 169, 0.0274815), 0px 1.24074px 3.14815px rgba(55, 52, 169, 0.0168519);
				border-radius: 5px;
			}
		}
	}
}

.footer-section {
	margin-top: 53px;
	.container {
		box-sizing: border-box;
		.top-footer-wrapper {
			max-width: 1215px;
			margin: auto;
			display: flex;
			align-items: baseline;
			column-gap: 116px;
			justify-content: space-between;
			padding: 111px 0;
			.left-top-footer {
				max-width: 522px;
				font-family: fonts.$manrope-font-family;
				color: colors.$white;
				h2 {
					font-weight: 700;
					font-size: fonts.$font-size-20;
				}
				p {
					font-size: fonts.$font-size-16;
					font-weight: 500;
					line-height: 26px;
					margin-top: 18px;
				}
			}
			.right-top-footer {
				color: colors.$white;
				max-width: 577px;
				display: flex;
				justify-content: space-between;
				font-family: fonts.$manrope-font-family;
				column-gap: 40px;
				div {
					h2 {
						font-weight: 700;
						font-size: fonts.$font-size-20;
					}
				}
				ul {
					margin-top: 35px;
					li:not(:first-child) {
						margin-top: 24px;
						font-size: fonts.$font-size-16;
						font-weight: 500;
					}
				}
			}
		}
		hr {
			border: 1px #404444 solid;
		}
		.bottom-footer-menu {
			max-width: 1215px;
			margin: auto;
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-family: fonts.$manrope-font-family;
			padding: 19px 0 23px;
			
			p {
				color: colors.$white;
				font-weight: 500;
				strong {
					font-weight: 700;
				}
			}
		}
	}
}