<section class="menu_bar">
    <div class="nav_menu_contained">
        <div class="">
            <img src="{{nav_todo_list}}" alt="">
        </div>
        <div class="nav_menu_right">
            <div class="language_option">
                <select>
                    <option value="english">English</option>
                </select>
            </div>
            <div class="">
                <img src="{{notification_bell_icon}}" alt="">
            </div>
            <div class="">
                <img src="{{nav_search_icon}}" alt="">
            </div>
            <div class=""></div>
        </div>
    </div>
</section>