<section class="dashboard_navigation_section">
    <div class="container">
        <div class="nav_logo">
            <img src="{{nav_logo}}" alt="" class="nav_logo_image">
            <p class="nav_logo_text">Munchy</p>
        </div>
        <div class="menu_container">
            <ul>
                <li>
                    <img src="" alt="">
                    Dashboard
                </li>
                <li class="active">
                    <img src="" alt="">
                    Analytics
                </li>
                <li>
                    <img src="" alt="">
                    eCommerce
                </li>
            </ul>
            <ul>
                <p class="">Apps</p>
                <li>
                    <img src="" alt="">
                    Dashboard
                </li>

            <ul>
                <p class="">Ui</p>
                <li>
                    <img src="" alt="">
                    Dashboard
                </li>
                <li>
                    <img src="" alt="">
                    Analytics
                </li>
                <li>
                    <img src="" alt="">
                    eCommerce
                </li>
            </ul>

            <ul>
                <p class="">Support</p>
                <li>
                    <img src="" alt="">
                    Dashboard
                </li>
                <li>
                    <img src="" alt="">
                    Analytics
                </li>
                <li>
                    <img src="" alt="">
                    eCommerce
                </li>
            </ul>

        </div>
    </div>
</section>