<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/Munchy/view/style/css/dashboard.css">
    <title>Munchy - Home</title>
</head>
<body>
    <div class="navigation_menu ">
        <div class="container page_contained">
            {% block dashboard_navigation %}
                {% include '_navigation.html' %}
            {% endblock %}
            <section>
                <div class="dashboard_main">
                    {% block dashboard_menuBar %}
                        {% include '_menuBar.html' %}
                    {% endblock %}
                </div>
            </section>
        </div>
    </div>
</body>
</html>